{% extends "layout.html.twig" %}

{% block main %}
	<main>
		<section class="title_about_section_mobile">
			<h2>{{ translator.translate("title_about_section_mobile") }}</h2>
		</section>
		<section class="about_section_mobile">
			<h3>{{ translator.translate("about_heading") }}</h3>
			<p>{{ translator.translate("about_paragraph_1") }}</p>
			<p>{{ translator.translate("about_paragraph_2") }}</p>
			<p>{{ translator.translate("about_paragraph_3") }}</p>
			<img src="https://this-person-does-not-exist.com/img/avatar-gen11458b284947739865cd857e828f1f21.jpg" alt="">
		</section>
	</main>
{% endblock %}
