{# {% extends "layout.html.twig" %}


{% block main %}
	<section class='main_chosen_language_mobile'>

		{% if language.name == 'français' %}
			<h1>Je vois, alors on a choisi le français !</h1>
			<div class="flex_chosen_language">
				<img class='flag_chosen_language' src="{{language.drapeau}}" alt="">
				<img class='monument_chosen_language' src="assets/images/tour.png" alt="">
			</div>

		{% elseif language.name == 'allemand' %}
			<img class='flag_chosen_language' src="{{language.drapeau}}" alt="">
			<h1>Ich sehe, also haben wir Deutsch gewählt!</h1>
			<img class='monument_chosen_language' src="assets/images/berlin.webp" alt="">
		{% elseif language.name == 'italien' %}
			<img class='flag_chosen_language' src="{{language.drapeau}}" alt="">
			<h1>Vedo, quindi abbiamo scelto il italiano!</h1>
			<img class='monument_chosen_language' src="assets/images/pise.webp" alt="">
		{% elseif language.name == 'espagnol' %}
			<img class='flag_chosen_language_espagnol' src="{{language.drapeau}}" alt="">
			<h1>Veo, entonces hemos elegido el espanol.</h1>
			<img class='monument_chosen_language' src="assets/images/familiatry.png" alt="">
		{% elseif language.name == 'russe' %}
			<img class='flag_chosen_language' src="{{language.drapeau}}" alt="">
			<h1>Вижу, так что мы выбрали русский язык!</h1>
			<img class='monument_chosen_language' src="assets/images/kremlintry.png" alt="">
		{% elseif language.name == 'anglais' %}
			<img class='flag_chosen_language' src="{{language.drapeau}}" alt="">
			<h1>I see, so we've chosen English!</h1>
			<img class='monument_chosen_language' src="assets/images/libertetry.png" alt="">
		{% endif %}
	</section>
	<section class="button_chosen_language_mobile">
		<a href="index.php?route=login">
			<button>Vous avez déjà un compte, connecté vous !</button>
		</a>
		<a href="index.php?route=register">
			<button class='button_color_change'>Nouveau ici, inscrivez vous !</button>
		</a>
	</section>

{% endblock %} #}
