{% extends "layout.html.twig" %}

{% block title %}
	{{ translator.translate("learn_language_home") }}
{% endblock %}

{% block main %}
	<main>

		<div class='flex_desktop'>
			<section class="first_text_main_mobile">
				<h2 class="visually-hidden">First paragraphe</h2>
				<article class="text_container">
					<h3 class="reveal-1">{{ translator.translate("first_section_title") }}</h3>
					<p class="reveal-2">{{ translator.translate("first_section_description") }}</p>
					<a href="index.php?route=login" class="button_last_paragraphe_dektop">
						{{ translator.translate("start_button") }}
					</a>
					<img class="editor_play_desktop" src="assets/images/play.png" alt="image_editor_choice_google">
				</article>
			</section>

			<section class='full_earth_dektop'>
				<h2 class="visually-hidden">earth</h2>
				<img class="" src="assets/images/terre_full.png" alt="image_full_earth">
			</section>

			{# Slider des langages proposés #}
			<section class="slider_contry_mobile">
				<h2 class="visually-hidden">Slider</h2>
				<div class="swiper">
					<div class="swiper-wrapper">
						{% for language in languages %}
							<div class="swiper-slide">
								<a href="index.php?route=langue&language_id={{language.id}}"><img src="{{language.drapeau}}" alt=""></a>
							</div>
						{% endfor %}
					</div>
				</div>

			</section>

			<section class="editor_section_mobile">
				<h2 class="visually-hidden">editor's images</h2>
				<img src="assets/images/appdark.png" alt="image_editor_choice_apple">
				<img src="assets/images/playdark.png" alt="image_editor_choice_google">
			</section>

			<section class="last_text_main_mobile">
				<h2 class="visually-hidden">Last paragraphe</h2>
				<article class="text_container_last_paragraphe">
					<img class="editor_play_desktop" src="assets/images/app.png" alt="image_editor_choice_apple">
					<a href="index.php?route=login" class="button_last_paragraphe_dektop">
						{{ translator.translate("start_button") }}
					</a>
					<h3 class="reveal-1">{{ translator.translate("second_section_title") }}</h3>
					<p class="reveal-2">{{ translator.translate("second_section_description") }}</p>
				</article>
			</section>
		</div>

		<section class='swiper_desktop '>
			<h2 class="visually-hidden">Slider</h2>
			<div class="swiper mySwiper reveal-1">
				<div class="swiper-wrapper ">
					{% for language in languages %}
						<div class="swiper-slide ">
							<a {% if language.hasCourse == false %} class="overlay_languages" {% endif %} href="index.php?route=langue&language_id={{language.id}}"><img src="{{language.drapeau}}" alt="slider_image_{{language.name}}">
								{% if language.hasCourse == false %}
									<i class="fa-regular fa-clock"></i>
								{% endif %}
							</a>
						</div>
					{% endfor %}
				</div>
				<h3>{{ translator.translate("wich_language") }}</h3>
			</div>
		</section>


	</main>
{% endblock %}
