{% extends "layout.html.twig" %}

{% block title %}
	{{ translator.translate("learn_language_home") }}
{% endblock %}

{% block main %}
	<main>

		<div class='flex_desktop'>
			<section class="first_text_main_mobile">
				<article class="text_container">
					<h2 class="reveal-1">{{ translator.translate("first_section_title") }}</h2>
					<p class="reveal-2">{{ translator.translate("first_section_description") }}</p>
					<button>
						<a href="index.php?route=login">{{ translator.translate("start_button") }}</a>
					</button>
					<img class="editor_play_desktop" src="assets/images/play.png" alt="">
				</article>
			</section>

			<section class='full_earth_dektop'>
				<img class="" src="assets/images/terre_full.png" alt="">
			</section>

			{# Slider des langages proposés #}
			<section class="slider_contry_mobile">
				<div class="swiper">
					<div class="swiper-wrapper">
						{% for language in languages %}
							<div class="swiper-slide">
								<a href="index.php?route=langue&language_id={{language.id}}"><img src="{{language.drapeau}}" alt=""></a>
							</div>
						{% endfor %}
					</div>
				</div>
				<button>
					<a href="index.php?route=register">{{ translator.translate("universe_button") }}</a>
				</button>
			</section>

			<section class="editor_section_mobile">
				<img src="assets/images/appdark.png" alt="">
				<img src="assets/images/playdark.png" alt="">
			</section>

			<section class="last_text_main_mobile">
				<article class="text_container_last_paragraphe">
					<img class="editor_play_desktop" src="assets/images/app.png" alt="">
					<button class="button_last_paragraphe_dektop">
						<a href="index.php?route=login">{{ translator.translate("start_button") }}</a>
					</button>
					<h2 class="reveal-1">{{ translator.translate("second_section_title") }}</h2>
					<p class="reveal-2">{{ translator.translate("second_section_description") }}</p>
				</article>
			</section>
		</div>

		<section class='swiper_desktop '>
			<div class="swiper mySwiper reveal-1">
				<div class="swiper-wrapper ">
					{% for language in languages %}
						<div class="swiper-slide ">
							<a class="" href="index.php?route=langue&language_id={{language.id}}"><img src="{{language.drapeau}}" alt=""></a>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>


	</main>
{% endblock %}
