{% extends "layout.html.twig" %}

{% block title %}
	{{ translator.translate("legal_mentions") }}
{% endblock %}

{% block main %}
	<main>
		<section class="mentions_legales">
			<h1>{{ translator.translate("legal_mentions") }}</h1>

			<h2>{{ translator.translate("publisher") }}</h2>
			<p>{{ translator.translate("company_name") }}
				: LanlyCorp<br>
				{{ translator.translate("legal_form") }}
				: TPE<br>
				{{ translator.translate("headquarters_address") }}
				: ****** **** ****<br>
				{{ translator.translate("phone") }}
				: 06.95.54.96.72<br>
				{{ translator.translate("email_address") }}
				:
				<a href="mailto:contact@entreprise.com">contact@entreprise.com</a><br>
				{{ translator.translate("registration_number") }}
				: *********</p>

			<h2>{{ translator.translate("publication_director") }}</h2>
			<p>{{ translator.translate("director_name") }}
				: Coindin Eloan<br>
				{{ translator.translate("director_email") }}
				:
				<a href="mailto:directeur@entreprise.com">directeur@entreprise.com</a>
			</p>

			<h2>{{ translator.translate("site_host") }}</h2>
			<p>{{ translator.translate("host_name") }}
				: PlaneteHoster<br>
				{{ translator.translate("host_address") }}
				: 4416 Rue Louis-B.-Mayer, Laval, QC H7P 0G1, Canada<br>
				{{ translator.translate("host_phone") }}
				: +1 844-629-6753<br>
			</p>

			<h2>{{ translator.translate("intellectual_property") }}</h2>
			<p>{{ translator.translate("intellectual_property_content") }}</p>

			<h2>{{ translator.translate("personal_data_protection") }}</h2>
			<p>{{ translator.translate("personal_data_protection_content") }}</p>

			<h2>{{ translator.translate("cookies") }}</h2>
			<p>{{ translator.translate("cookies_content") }}</p>

			<h2>{{ translator.translate("external_links") }}</h2>
			<p>{{ translator.translate("external_links_content") }}</p>

			<h2>{{ translator.translate("limitation_of_liability") }}</h2>
			<p>{{ translator.translate("limitation_of_liability_content") }}</p>

			<h2>{{ translator.translate("applicable_law") }}</h2>
			<p>{{ translator.translate("applicable_law_content") }}</p>

			<p>{{ translator.translate("legal_disclaimer_changes") }}</p>
		</section>
	</main>
{% endblock %}
