{% extends "layout.html.twig" %}

{% block title %}
	{{ translator.translate("result_title_page") }}
{% endblock %}


{% block main %}
	<main>
		<section class="title_resultat_mobile">
			<h1>RESULTAT :
				{{ result }}
				/
				{{ exercices|length }}</h1>
		</section>

		<section class="resultat_mobile">
			{% for exercice in exercices %}
				<section>
					<h2>QUESTION
						{{ loop.index }}
						:</h2>
					<p>
						{{ exercice.question }}
					</p>

					<div class='ex_res_flex'>
						<h3>correction :</h3>
						<p>{{ exercice.correction_Text }}</p>
					</div>

					<p class="reponse">
						{% if exercice.response.content|lower != exercice.correction|lower %}
							<i class="fa-solid fa-xmark"></i>
						{% else %}
							<i class="fa-solid fa-check"></i>
						{% endif %}
						{{ translator.translate("result_response") }}
						:
						<span class="response_word">{{ exercice.response.content }}</span>
					</p>
				</section>
			{% endfor %}
			<section class="button_resultat_mobile">
				<a href="index.php?route=exercices&cat_id={{exercices[0].globalCategory.id}}">
					<button>{{ translator.translate("result_finish") }}</button>
				</a>
				<a href="index.php?route=exercice&course_id={{ exercices[0].course_id }}&cat_id={{ exercices[0].globalCategory.id }}">
					<button>{{ translator.translate("result_try_again") }}</button>
				</a>
			</section>

		</section>
	</main>
{% endblock %}
