{% extends "layout.html.twig" %}

{% block title %}
	{{ translator.translate("admin_area") }}
{% endblock %}

{% block main %}
	<main class="admin">
		<div class="container p-4">
			<h1 class="admin_title">{{ translator.translate('Example') }}</h1>
			<a href="index.php?route=administration" class='admin_retour_button'>
				{{ translator.translate('BACK') }}
			</a>

			<a href="index.php?route=create_example" class="btn btn-success mb-3">{{ translator.translate('Add_an_example') }}</a>
			{% for example in examples %}
				<section class="mb-4">
					<h3 class="visually-hidden">Examples</h3>
					<p class="texte_exemple">
						<strong>{{ translator.translate('Example') }}
							:</strong>
						{{ example.description }}</p>
					<p class="texte_exemple">
						<strong>{{ translator.translate('Course_ID') }}
							:</strong>
						{{ example.course_id }}</p>

					<div class="button_admin_crud">
						<a href="index.php?route=update_example&example_id={{ example.id }}" class="btn btn-primary btn-sm mr-2">{{ translator.translate('Edit') }}</a>
						<a href="index.php?route=delete_example&example_id={{ example.id }}" class="btn btn-danger btn-sm">{{ translator.translate('DELETE') }}</a>
					</div>

				</section>
			{% endfor %}
		</div>
	</main>
{% endblock %}
