{% extends "layout.html.twig" %}

{% block title %}
	{{ translator.translate("admin_area") }}
{% endblock %}

{% block main %}
	<main class="admin">
		<div class="container p-4">
			<h1 class="fs-2 admin_title">{{ translator.translate('Users') }}</h1>
			<a href="index.php?route=administration" class='admin_retour_button'>
				{{ translator.translate('BACK') }}
			</a>

			<div class="row">
				{% for user in users %}
					<div class="col-md-4">
						<div class="card mb-4">
							<div class="card-body">
								<p class="card-title fs-4">
									<strong>{{ translator.translate('NAME') }}:</strong>
									{{ user.username }}
								</p>
								<p class="card-text fs-4">
									<strong>{{ translator.translate('EMAIL') }}:</strong>
									{{ user.email }}
								</p>
								<p class="card-text fs-4">
									<strong>{{ translator.translate('FROM') }}:</strong>
									{{ user.country.name }}
								</p>
								<p class="card-text fs-4">
									<strong>{{ translator.translate('Wants_to_learn') }}:</strong>
									{{ user.language.name }}
								</p>
								<p class="card-text fs-4">
									<strong>{{ translator.translate('Role') }}:</strong>
									{{ user.role }}
								</p>
								<p class="card-text fs-4">
									<strong>{{ translator.translate('Created_in') }}:</strong>
									{{ user.date }}
								</p>
								<div class="button_admin_crud">
									<a href="index.php?route=update_user&user_id={{ user.id }}&role=ADMIN" class="btn btn-primary btn-sm mr-2 fs-4">{{ translator.translate('Role_to_ADMIN') }}</a>
									<a href="index.php?route=update_user&user_id={{ user.id }}&role=USER" class="btn btn-primary btn-sm mr-2 fs-4">{{ translator.translate('Role_to_USER') }}</a>
									<a href="index.php?route=delete_user&user_id={{ user.id }}" class="btn btn-danger btn-sm fs-4">{{ translator.translate('DELETE') }}</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
