{% extends "layout.html.twig" %}


{% block main %}

	{{ cat_id }}

	{% for exercice in exercices %}
		<p>QUESION :
			{{ exercice.question }}</p>
		<p>correction :
			{{ exercice.correction_Text }}</p>
		<p>réponse :
			{{ exercice.response.content }}</p>
	{% endfor %}
	<p>Vous avez un score total de
		{{ result }}
		/
		{{ exercices|length }}
	</p>

	<a href="index.php?route=login_home">
		<button>finish</button>
	</a>
	<a href="index.php?route=exercice&course_id={{ exercices[0].course_id }}&cat_id={{ exercices[0].globalCategory.id }}">
		<button>Try again</button>
	</a>
{% endblock %}
