{% extends "layout.html.twig" %}

{% block mypage %}
	<h1>Exercices</h1>
	<h2>
		{{ courses[0].globalCategory.name }}
	</h2>
{% endblock %}

{% block main %}
	{% for course in courses %}
		<h1>{{ course.title }}</h1>

		{% if course.finished == true %}
			<a href="index.php?route=ex_res&course_id={{course.id}}&cat_id={{course.globalCategory.id}}">Voir mes résultats</a>
		{% elseif course.locked == 0 %}
			<a href="index.php?route=exercice&course_id={{course.id}}&cat_id={{course.globalCategory.id}}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc3b4R4SKdKKSj-b39rdAypFW80IylmyHvpQ&usqp=CAU" alt="unlock_exercice"></a>
		{% elseif course.locked == false %}
			<a href="index.php?route=exercice&course_id={{course.id}}&cat_id={{course.globalCategory.id}}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc3b4R4SKdKKSj-b39rdAypFW80IylmyHvpQ&usqp=CAU" alt="unlock_exercice"></a>
		{% else %}
			<img src="https://www.shutterstock.com/image-vector/padlock-line-icon-outline-vector-260nw-759479266.jpg" alt="lock_exercice">
		{% endif %}
	{% endfor %}
{% endblock %}
