{% extends "layout.html.twig" %}

{% block headerWhenConnected %}
	{{ parent() }}
{% endblock %}

{% block main %}
	{% if user.picture is not empty %}
		<img src="{{ user.picture }}" alt="{{ user.username }}">
	{% endif %}
	<p>name :</p>
	<p>{{ user.username }}</p>
	<p>Password :</p>
	<p>{{ user.password }}</p>
	<p>Email :</p>
	<p>{{ user.email }}</p>
	<p>native country :</p>
	<p>{{ user.country.name }}</p>
	<p>desired language :</p>
	<p>{{ user.language.name }}</p>

{% endblock %}
