{% extends "layout.html.twig" %}

{% block main %}
	<main>
		<section class="title_course_mobile">
			<h1>Partie cours</h1>
		</section>

		{% for course in courses %}
			<section class="course_mobile">
				{% if loop.first %}
					<a href="index.php?route=choice&cat_id={{ course.globalCategory.id }}">
						<i class="fa-solid fa-arrow-left"></i>
					</a>
				{% endif %}

				<h2>{{ course.title }}</h2>
				<p>{{ course.description }}</p>

				{% if course.examples is not empty %}
					<h3>Exemple(s) :</h3>
					{% for example in course.examples %}
						<p class="italic">-
							{{ example.description }}</p>
					{% endfor %}
				{% endif %}
				<a href="index.php?route=exercice&course_id={{course.id}}&cat_id={{ course.globalCategory.id }}">
					<button>On s'exerce ?</button>
				</a>
			</section>
		</main>
	{% endfor %}
{% endblock %}
