{% extends "layout.html.twig" %}

{% block title %}
	{{ translator.translate("learn") }}
{% endblock %}

{% block main %}
	<main>

		<section class="title_course_mobile">
			<h1>{{ translator.translate("course_title") }}</h1>
		</section>

		{% if courses is not empty %}
			{% for course in courses %}
				<section class="course_mobile">
					{% if loop.first %}
						<a href="index.php?route=choice&cat_id={{ course.globalCategory.id }}">
							<i class="fa-solid fa-arrow-left"></i>
						</a>
					{% endif %}

					<h2>{{ course.title }}</h2>
					<p>{{ course.description }}</p>


					{% if course.examples %}
						{% for example in course.examples %}
							<h3>{{ translator.translate("course_example") }}
								:</h3>
							<p class="italic">-
								{{ example.description }}</p>
						{% endfor %}
					{% endif %}

					{% if course.exercices is not empty %}
						<a class="course_mobile_link_to_exercice" href="index.php?route=exercice&course_id={{course.id}}&cat_id={{ course.globalCategory.id }}">
							{{ translator.translate("course_button_exerice") }}
						</a>
					{% endif %}


				</section>
			{% endfor %}
		{% else %}
			<section class="course_mobile">
				<a class='link_back_choice' href="index.php?route=login_home">
					<i class="fa-solid fa-arrow-left"></i>
				</a>
				<h2 class="no_course_available">{{ translator.translate("no_course_available") }}</h2>
			</section>
		{% endif %}

	</main>
{% endblock %}
