{% extends "layout.html.twig" %}

{% block main %}
	<main class='main_login_mobile'>
		<section class="login_title_mobile">
			<h2>{{ translator.translate("login_title") }}</h2>
		</section>
		<section class="login_mobile">
			<form action="index.php?route=check-login" method="post">
				<input type="hidden" name="csrf-token" id="csrf-token" value="{{ session.csrf_Token }}"/>
				<fieldset>
					<label for="email" class="form-label">{{ translator.translate("username_label") }}</label>
					<input type="text" id="email" name="email" class="form-control"/>
				</fieldset>
				<fieldset>
					<label for="password" class="form-label">{{ translator.translate("password_label") }}</label>
					<input type="password" id="password" name="password" class="form-control"/>
				</fieldset>
				<button type="submit" class="">{{ translator.translate("login_button") }}</button>
			</form>
			<a href="index.php?route=register">{{ translator.translate("register_link") }}</a>
			{% if session.erreur_hash is not empty %}
				<p>
					<i class="fa-solid fa-triangle-exclamation"></i>
					{{ session.erreur_hash }}</p><br>
			{% endif %}

			{% if session.erreur_mail is not empty %}
				<p>
					<i class="fa-solid fa-triangle-exclamation"></i>
					{{ session.erreur_mail }}</p><br>
			{% endif %}

			{% if session.erreur_remplissage is not empty %}
				<p>
					<i class="fa-solid fa-triangle-exclamation"></i>
					{{ session.erreur_remplissage }}</p><br>
			{% endif %}
		</section>
	</main>
	<a href="index.php?route=logout">ec</a>
{% endblock %}
