{% extends "layout.html.twig" %}

{% block title %}
	{{ translator.translate("Lanly_register") }}
{% endblock %}

{% block main %}
	<main>
		<section class="register_title_mobile">
			<h2>{{ translator.translate("register_title") }}</h2>
		</section>
		<section class="register_mobile">
			<h3 class="visually-hidden">Form register</h3>
			<form class="" action="index.php?route=check-register" method="POST">
				<input type="hidden" name="csrf-token" id="csrf-token" value="{{ session.csrf_Token }}"/>
				<fieldset>
					<label for="username" class="form-label">{{ translator.translate("username_label") }}</label>
					<input type="text" id="username" name="username" class="form-control"/>
				</fieldset>
				<fieldset>
					<label for="email" class="form-label">{{ translator.translate("email_label") }}</label>
					<input type="email" id="email" name="email" class="form-control"/>
				</fieldset>
				<fieldset>
					<label for="password" class="form-label">{{ translator.translate("password_label") }}</label>
					<input type="password" id="password" name="password" class="form-control"/>
				</fieldset>
				<fieldset>
					<label for="confirmPassword" class="form-label">{{ translator.translate("confirm_password_label") }}</label>
					<input type="password" id="confirmPassword" name="confirmPassword" class="form-control"/>
				</fieldset>

				<fieldset>

					<label for="country" class="form-label">{{ translator.translate("country_label") }}</label>
					<select id="country" name="country">
						<option value="">{{ translator.translate("select_country_option") }}</option>
						<option value="france">France</option>
						<option value="allemagne">Allemagne</option>
						<option value="italie">Italie</option>
						<option value="espagne">Espagne</option>
						<option value="russie">Russie</option>
						<option value="angleterre">Angleterre</option>
					</select>
				</fieldset>
				<fieldset>
					<label for="language" class="form-label">{{ translator.translate("language_label") }}</label>
					<select id="language" name="language">
						{% if session.selected_language_name is not empty %}
							<option value="{{ session.selected_language_name }}">{{ session.selected_language_name }}</option>
						{% else %}
							<option value="">{{ translator.translate("select_language_option") }}</option>
						{% endif %}
						{% for language in languages %}
							{% if session.selected_language_name != language.name %}
								<option value="{{ language.name }}">{{ language.name }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</fieldset>
				<fieldset class="form-label">
					<label>{{ translator.translate("reasons_label") }}</label>
					<div class="flex_form_label">
						{% for reason in reasons %}
							<fieldset>
								<input type="checkbox" id="reason_{{ reason.name }}" name="reasons[]" value="{{ reason.name }}">
								<label for="reason_{{ reason.name }}">{{ reason.name }}</label>
							</fieldset>
						{% endfor %}
					</div>
				</fieldset>
				<button type="submit" class="">{{ translator.translate("register_button") }}</button>
				<a href="index.php?route=login">{{ translator.translate("login_link") }}</a>
				{% if session.erreur_mdp is not empty %}
					<p>
						<i class="fa-solid fa-triangle-exclamation"></i>
						{{ session.erreur_mdp }}</p><br>
				{% endif %}

				{% if session.erreur_remplissage is not empty %}
					<p>
						<i class="fa-solid fa-triangle-exclamation"></i>
						{{ session.erreur_remplissage }}</p><br>
				{% endif %}

				{% if session.erreur_regex is not empty %}
					<p>
						<i class="fa-solid fa-triangle-exclamation"></i>
						{{ session.erreur_regex }}</p><br>
				{% endif %}
			</form>
		</section>
	</main>
{% endblock %}
