{% extends "layout.html.twig" %}

{% block headerWhenConnected %}
	{{ parent() }}
{% endblock %}

{% block main %}

	<main>
		<section class='title_profil_mobile'>
			<h1 class="reveal-1">
				Mon profil
			</h1>
		</section>
		<section class='profil_mobile'>


			<div
				class="image_uploader">
				{# Affichage de l'image si il y en a une présente en base de donné #}
				{% if user.picture is not empty %}
					<img class='profil_image_user' src="{{ user.picture }}" alt="{{ user.username }}">
				{% endif %}


				{# Formulaire d'ajout de photo de profil grace à la super global $_FILES['name] #}
				<form action="index.php?route=addImage" method="POST" enctype="multipart/form-data">
					<label class="label_image" for="input_file">Update image</label>
					<input type="file" accept="image/jpeg, image/png, image/jpg" name="input_file" id="input_file">
					<button id="button_send_image" class="button_send_image" type="submit">Enregistrer</button>
				</form>
			</div>

			<p class='profil_global'>name :</p>
			<p class='profil_user'>{{ user.username }}</p>
			<p class='profil_global'>Email :</p>
			<p class='profil_user'>{{ user.email }}</p>
			<p class='profil_global'>native country :</p>
			<img class="image_profil" src="{{flag_from.drapeau}}" alt="desired language flag">
			<p class='profil_user native'>{{ user.country.name }}</p>
			<p class='profil_global'>desired language :</p>
			<img class="image_profil" src="{{flag.drapeau}}" alt="desired language flag">
			<p class='profil_user desired'>{{ user.language.name }}</p>
		</section>
	</main>
{% endblock %}
