{% extends "layout.html.twig" %}

{% block title %}
	{{ translator.translate("admin_area") }}
{% endblock %}

{% block main %}
	<main>
		<form class='form_admin' action="index.php?route=update_info_exercice" method="post">
			<input type="hidden" class="form-control" id="exercice_id" name="exercice_id" value="">

			<div class="form-group">
				<label for="title">{{ translator.translate("title") }}
					:</label>
				<input type="text" class="form-control" id="title" name="title" value="">
			</div>

			<div class="form-group">
				<label for="difficulty">{{ translator.translate("difficulty") }}
					:</label>
				<input type="text" class="form-control" id="difficulty" name="difficulty" value="">
			</div>

			<div class="form-group">
				<label for="question">{{ translator.translate("question") }}
					:</label>
				<textarea class="form-control" id="question" name="question"></textarea>
			</div>

			<div class="form-group">
				<label for="correction_text">{{ translator.translate("correction_text") }}
					:</label>
				<textarea class="form-control" id="correction_text" name="correction_text"></textarea>
			</div>

			<div class="form-group">
				<label for="correction_word">{{ translator.translate("correction_word") }}
					:</label>
				<input type="text" class="form-control" id="correction_word" name="correction_word" value="">
			</div>

			<div class="form-group">
				<label for="global_category_id">{{ translator.translate("global_category_id") }}
					:</label>
				<select class="form-control" id="global_category_id" name="global_category_id">
					{% for category in categories %}
						<option value="{{ category.id }}">{{ category.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="course_id">{{ translator.translate("course_id") }}
					:</label>
				<select class="form-control" id="course_id" name="course_id">
					{% for course in courses %}
						<option value="{{ course.id }}">{{ course.title }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label for="language">{{ translator.translate("language") }}</label>
				<select class="form-control" id="language" name="language">
					{% for language in languages %}
						<option value="{{ language.id }}">{{ language.name }}</option>
					{% endfor %}
				</select>
			</div>

			<button type="submit" class="btn btn-primary">{{ translator.translate("add") }}</button>
		</form>
	</main>
{% endblock %}
